<div class="box register">

    <h2>הרשמה</h2>

    <form (ngSubmit)="submit2()" #formInfo="ngForm">
        <div *ngIf="!step1Passed">

            <label>מספר ת.ז : </label>
            <input type="text" name="idNumber" [(ngModel)]="user.idNumber" required minlength="5"
                #idNumberBox="ngModel">
            <span *ngIf="idNumberBox.touched && idNumberBox.errors?.['required']">יש למלא מזפר ת.ז</span>
            <span *ngIf="idNumberBox.touched && idNumberBox.errors?.['minlength']">מספר ת.ז חייב להכיל לפחות 5
                ספרות</span>

            <label>אימייל : </label>
            <input type="text" name="email" [(ngModel)]="user.email" required #emailBox="ngModel">
            <span *ngIf="emailBox.touched && emailBox.errors?.['required']">יש להזין אימייל</span>

            <label>סיסמה : </label>
            <input type="password" name="password" [(ngModel)]="user.password" minlength="5" required
                #passwordBox="ngModel">
            <span *ngIf="passwordBox.touched && passwordBox.errors?.['required']">יש להזין סיסמה</span>
            <span *ngIf="passwordBox.touched && passwordBox.errors?.['minlength']">סיסמא חייבת להכיל לפחות 5
                תווים</span>

            <label>אימות סיסמה : </label>
            <input type="password" name="passwordConfirm" [(ngModel)]="passwordConfirm" required
                #passwordConfirmBox="ngModel" pattern="{{ passwordBox.value }}" />
            <span *ngIf="passwordConfirmBox.touched && passwordConfirmBox.errors?.['required']">יש להזין אימות
                סיסמה</span>
            <span *ngIf="passwordConfirmBox.touched && passwordConfirmBox.errors?.['pattern']"> אימות סיסמה לא
                תואם</span>

            <button mat-raised-button color="primary" [disabled]="formInfo.invalid" (click)="submit1()" type="button">הבא</button>
            <!-- <button mat-raised-button color="warn" routerLink="/products">חזרה לקניות</button> -->
        </div>

        <div *ngIf="step1Passed">

            <label>שם פרטי : </label>
            <input type="text" name="firstName" [(ngModel)]="user.firstName" required #firstNameBox="ngModel">
            <span *ngIf="firstNameBox.touched && firstNameBox.errors?.['required']">יש להזין שם פרטי</span>

            <label>שם משפחה : </label>
            <input type="text" name="lastName" [(ngModel)]="user.lastName" required #lastNameBox="ngModel">
            <span *ngIf="lastNameBox.touched && lastNameBox.errors?.['required']">יש להזין שם משפחה</span>

            <label>עיר מגורים : </label>
            <select name="city" [(ngModel)]="user.city" required #cityBox="ngModel">
                <option>תל אביב</option>
                <option>חיפה</option>
                <option>רמת-גן</option>
                <option>גבעתיים</option>
                <option>טבריה</option>
                <option>מודיעין</option>
                <option>אשדוד</option>
                <option>באר-שבע</option>
                <option>אשקלון</option>
                <option>טבריה</option>

            </select>
            <span *ngIf="cityBox.touched && cityBox.errors?.['required']">יש להזין עיר מגורים</span>
            <br /><br />

            <label>רחוב : </label>
            <input type="text" name="address" [(ngModel)]="user.street" required #streetBox="ngModel">
            <span *ngIf="streetBox.touched && streetBox.errors?.['required']">יש להזין את שם הרחוב</span>

            <button mat-raised-button color="primary" [disabled]="formInfo.invalid" type="submit">הרשמה</button>
        </div>

    </form>

</div>