div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div button {
    width: 100px;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.active {
    color: green;
    font-weight: bold;
}
