<div class="order">
  <div class="order-details" *ngIf="!isOrderFinished">
    <!-- <img alt="sun-logo" src="../../../../assets/images/sun-logo.png" /> -->
    <h2>פרטי ההזמנה</h2>
    <mat-form-field appearance="fill">
      <mat-label>חיפוש בהזמנה</mat-label>
      <!-- <input matInput type="text" name="searchString" (keyup)="search($event)" > -->
      <input matInput type="text" name="searchString" [(ngModel)]="searchString">
    </mat-form-field>
    <table class="order-table">
      <tr>
        <th>#</th>
        <th>שם המוצר</th>
        <th>כמות</th>
        <th>מחיר ליחידה</th>
        <th>סה"כ מחיר</th>
      </tr>

      <tr *ngFor="let cartItem of cartItems">
        <td>{{cartItems.indexOf(cartItem) + 1}}</td>
        <td [innerHTML]="cartItem.product.name | highlight: searchString"></td>
        <td>{{cartItem.quantity}}</td>
        <td>{{cartItem.product.price | currency: "ILS"}}</td>
        <td>{{cartItem.totalPrice | currency: "ILS"}}</td>
      </tr>
    </table>

    <p><b>סה"כ לתשלום : </b>{{getTotalPrice(cartItems) | currency: "ILS"}}</p>


    <h3>פרטי מקבל ההזמנה : </h3>

    <p><b>שם המזמין : </b>{{user.firstName + ' ' + user.lastName}}</p>
    <p><b>דוא"ל : </b>{{user.email}}</p>

    <form (ngSubmit)="makeOrder(orderForm.value)" #orderForm="ngForm">

      <h3>פרטי המשלוח</h3>

      <!-- <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker appearance="legacy"></mat-datepicker><br> -->

      <mat-form-field appearance="legacy">
        <mat-label>עיר</mat-label>
        <input matInput name="city" [ngModel]="user.city" #cityBox="ngModel" required minlength="2">
      </mat-form-field><br>
      <mat-error *ngIf="cityBox.touched && cityBox.errors?.['required']">יש למלא את העיר למשלוח</mat-error>
      <mat-error *ngIf="cityBox.touched && cityBox.errors?.['minlength']">הערך שהזנת קצר מדיי</mat-error>

      <mat-form-field appearance="legacy">
        <mat-label>רחוב</mat-label>
        <input matInput name="street" [ngModel]="user.street" #streetBox="ngModel" required minlength="2">
      </mat-form-field><br>
      <mat-error *ngIf="streetBox.touched && streetBox.errors?.['required']">יש למלא את הרחוב למשלוח</mat-error>
      <mat-error *ngIf="streetBox.touched && streetBox.errors?.['minlength']">הערך שהזנת קצר מדיי</mat-error>

      <h3> תשלום באשראי </h3>

      <mat-form-field appearance="legacy">
        <mat-label>מספר אשראי</mat-label>
        <input matInput [(ngModel)]="order.payment4Digits" #cardNumberBox="ngModel" name="payment4Digits" required minlength="2" pattern="[0-9]{12,16}">
        <!-- <mat-error *ngIf="cardNumberBox.touched && cardNumberBox.errors?.['required']">יש למלא את מספר האשראי</mat-error> -->
        <!-- <mat-error *ngIf="cardNumberBox.touched && cardNumberBox.errors?.['minlength']">הערך שהזנת קצר מדיי</mat-error> -->
        <mat-error *ngIf="cardNumberBox.touched && cardNumberBox.errors?.['pattern']">יש למלא בין 12 ל 16 ספרות בלבד</mat-error>
      </mat-form-field><br>

      <mat-form-field appearance="legacy">
        <mat-label>3 ספרות בגב האשראי</mat-label>
        <input matInput #threeDigitsBox="ngModel" name="threeDigits" [(ngModel)]="threeDigits" required pattern="[0-9]{3,4}">
        <mat-error *ngIf="threeDigitsBox.touched && threeDigitsBox.errors?.['required']">יש למלא 3 ספרות</mat-error>
        <mat-error *ngIf="threeDigitsBox.touched && threeDigitsBox.errors?.['pattern']">מספר לא חוקי</mat-error>
      </mat-form-field><br>

      <mat-form-field appearance="legacy">
        <mat-label>תוקף האשראי</mat-label>
        <!-- <input matInput type="date"/> -->
        <input matInput [(ngModel)]="order.expirationDate" placeholder="MM/YY" pattern="^(0[1-9]|1[0-2])\/?([0-9]{2})$" #expirationDateBox="ngModel" name="expirationDate" required>
        <mat-error *ngIf="threeDigitsBox.touched && threeDigitsBox.errors?.['required']">יש למלא את תוקף האשראי</mat-error>
      </mat-form-field><br>


      <div class="buttons">
        <button [disabled]="orderForm.invalid" type="submit" mat-raised-button color="primary">הזמן עכשיו !</button>
        <button mat-raised-button color="warn" routerLink="/products">חזרה לקניות</button>
      </div>
    </form>
  </div>

  <div class="thank-you" *ngIf="isOrderFinished">
    <h2>תודה שהזמנת סופר שמש !</h2>
    <p>אנחנו עושים את כל המאמצים כדי שהמשלוח יגיע במהירות המקסימלית...</p>
    <button mat-raised-button color="primary" (click)="printInvoice()">
      <mat-icon>file_download</mat-icon>
      להורדת הקבלה
    </button>
    <button mat-raised-button color="primary" routerLink="/products">חזרה לחנות</button>
  </div>

</div>