.order {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin: 20px;
}

.order-details {
    width: 100%;
    max-width: 500px;
}

.order-table {
    /* max-width: 600px; */
    margin: 20px;
    width: 100%;
}
