<div class="box">
    <h2>הוסף מוצר חדש</h2>

    <form (ngSubmit)="add()" #formInfo="ngForm">

        <h2>Add Product</h2>

        <label>Name: </label>
        <input type="text" name="name" [(ngModel)]="product.name" required minlength="3" #nameBox="ngModel">
        <span *ngIf="nameBox.touched && nameBox.errors?.['required']">Missing name</span>
        <span *ngIf="nameBox.touched && nameBox.errors?.['minlength']">Name too short</span>

        <label>Price: </label>
        <input type="number" name="price" [(ngModel)]="product.price" step="0.01" required min="0" max="1000" #priceBox="ngModel">
        <span *ngIf="priceBox.touched && priceBox.errors?.['required']">Missing price</span>
        <span *ngIf="priceBox.touched && priceBox.errors?.['min']">Price can't be negative</span>
        <span *ngIf="priceBox.touched && priceBox.errors?.['max']">Price can't exceed 1000</span>

        <label>Category: </label>
        <select name="category" required [(ngModel)]="product.categoryId">
            <option *ngFor="let category of categories" [value]="category._id">{{category.name}}</option>
        </select>
        <br/>
        <br/>

        <label>Image: </label>
        <input type="file" name="image" accept="image/*" #imageBox>

        <button [disabled]="formInfo.invalid">Add</button>

    </form>
</div>
