<div class="box product-card">
        <!-- <a routerLink="/products/details/{{product._id}}"> -->
            <img *ngIf="product.imageName" [src]="productImageUrl + product?.imageName" />
        <!-- </a> -->
        <p>
            <b>שם המוצר :</b> {{product.name}}
        </p>
        <p>
            <b>מחיר : </b> {{product.price | currency: '₪'}}
        </p>
        <p>
            <b>קטגוריה : </b> {{product.category.name}}

        </p>
        <button mat-raised-button color="primary" (click)="openDialog()">הוסף לעגלה</button>
</div>


  