
img {
    width: 100%;
    border-radius: 10px;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 250px;
    /* align-items: center; */
    padding: 10px;
}