p {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
}

.deleteBtn {
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
}

.buttons > * {
    margin: 5px;
}